@charset "UTF-8";
.btn_con { margin: 0 calc(var(--mrgn-half) * -.5) calc(var(--mrgn-half) * -1);}
.btn_con.center { text-align: center;}

.btn { position: relative; font-family: 'Poppins'; display: inline-block; margin: 0 calc(var(--mrgn-half) / 2) var(--mrgn-half); vertical-align: top; width: 170px; height: 40px; line-height: 40px; text-align: center; border-radius: 36px; font-size: 14px; font-weight: 500; text-decoration: none; transition: all 100ms linear;}
.btn:hover { opacity: 1;}
.btn:active { transform: scale(.975); filter: brightness(.75);}

.btn.nomg { margin: 0;}
.btn.long { padding-right: var(--mrgn-half);}
.btn.medium { width: 273px;}
.btn.large { width: 358px; height: 42px; font-size: 16px; line-height: 42px;}

.btn.btn_icon { text-align: left; text-indent: 27px;}
.btn.btn_icon i { position: absolute; top: 0; right: 27px; height: inherit; line-height: inherit;}

.btn.mini.btn_icon { width: 42px; height: 42px; font-size: 0; text-align: center; text-indent: 0;}
.btn.mini.btn_icon i { position: static; top: auto; right: auto; height: auto; font-size: 11px; line-height: inherit;}

.btn.large.btn_icon {text-align: center; text-indent: 0;}
.btn.large.btn_icon i {position: static; top: auto; right: auto; margin-left: 27px; height: auto; line-height: inherit;}

.btn.btn_a { color: var(--c-w); text-transform: uppercase; box-shadow: 0 4px 10px -4px rgba(141, 114, 79, .5); position: relative; z-index: 1; background: var(--c-p1);}
.btn.btn_a span {position: relative;}
.btn.btn_a:before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(135deg, var(--c-p1) 0%, var(--c-p2) 100%); opacity: 1; border-radius: inherit; transition: inherit;}
.btn.btn_a:hover { color: var(--c-w); box-shadow: 0 3px 9px -3px rgba(141, 114, 79, .85);}
.btn.btn_a:hover:before {opacity: 0;}
.btn.btn_a:active { box-shadow: 0 1px 3px -1px rgba(141, 114, 79, .1);}

.btn.btn_b { background: var(--c-p1); color: var(--c-w); box-shadow: inset 0 0 0 2px var(--c-p2), 0 4px 12px -4px rgba(0, 0, 0, .15); font-weight: 600; opacity: .65;}
.btn.btn_b:hover { color: var(--c-w); background: var(--c-p1); box-shadow: inset 0 0 0 2px var(--c-p1), 0 3px 9px -3px rgba(141, 114, 79, .85); opacity: 1;}
.btn.btn_b:active { box-shadow: inset 0 0 0 2px var(--c-p1), 0 1px 3px -1px rgba(141, 114, 79, .1);}
.btn.btn_b i { color: #a65a53; transition: all 100ms linear;}
.btn.btn_b:hover i,
.btn.btn_b:active i { color: var(--c-w);}

.btn.btn_c { background: var(--c-w); color: var(--c-p1); box-shadow: inset 0 0 0 2px #666, 0 4px 12px -4px rgba(0, 0, 0, .15);}
.btn.btn_c:hover { background: var(--c-w); box-shadow: inset 0 0 0 2px var(--c-p1), 0 3px 9px -3px rgba(141, 114, 79, .85);}
.btn.btn_c:active { box-shadow: inset 0 0 0 2px #404426, 0 1px 3px -1px rgba(141, 114, 79, .1);}

.btn.btn_d { background: #fff; color: #aaa; box-shadow: inset 0 0 0 2px #ccc, 0 4px 12px -4px rgba(0, 0, 0, .15); cursor: no-drop; /*pointer-events: none;*/}

.btn.btn_e { color: #fff; -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px); box-shadow: 0 4px 12px -4px rgba(64, 68, 38, .5); line-height: 1.25em;}

.btn_year { position: absolute; width: var(--mrgn-x2); }
.btn_year li { width: 100%; height: 30px; margin: calc(var(--mrgn-half) / 2) 0 0 0; background: #ccc; box-shadow: 0 3px 9px -3px rgba(0, 0, 0, .5); border-radius: calc(var(--mrgn-half) / 2); text-align: center; line-height: 30px; color: #fff; transition: 200ms linear; cursor: pointer;}
.btn_year li:hover {background: rgba(0, 69, 38); box-shadow: 0 3px 9px -3px rgba(64, 68, 38, .85);}
.btn_year li:active { box-shadow: 0 1px 3px -1px rgba(64, 68, 38, .1); transform: scale(.975);}
.btn_year li.on { background: #404426;}



