@charset "UTF-8";
.btn_con { margin: 60px calc(var(--mrgn-half) * -.5) calc(var(--mrgn-half) * -1); }
.btn_con.center { text-align: center;}

.btn { position: relative; font-family: 'Onest', sans-serif; display: inline-block; margin: 0 calc(var(--mrgn-half) / 2) var(--mrgn-half); vertical-align: top; width: 180px; height: 48px; line-height: 48px; text-align: center; border-radius: 30px; font-size: 16px; font-weight: 700; text-decoration: none; transition: all 100ms linear;}
.btn:hover { opacity: 1;}

.btn.medium { width: 273px;}
.btn.btn_icon { text-align: left; text-indent: 27px;}
.btn.btn_icon i { position: absolute; top: 0; right: 27px; height: inherit; line-height: inherit;}


.btn_left,
.btn_right{ position: fixed; bottom:30px; left: 50%; transform: translate(-50%, -50%); z-index: 1;}
.btn_left{ margin-left: -30px;}
.btn_right{ margin-left: 30px;}

.btn.btn_a { width: 40px; height: 40px; border-radius: 50%; color: #1b365d; box-shadow:  1px 1px 2px rgba(205, 217, 229, 1), -1px -1px 2px rgba(255, 255, 255, 1), 3px 3px 6px rgba(205, 217, 229, 1), -3px -3px 6px rgba(255, 255, 255, 1), inset -2px -2px 4px rgba(205, 217, 229, 0.15), inset 2px 2px 4px rgba(255, 255, 255, 0.25); transition: all 100ms linear;}
.btn.btn_a:active { box-shadow: -1px -1px 2px rgba(123, 164, 219, 0.3), 1px 1px 2px rgba(255, 255, 255, 0.6), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0), inset 2px 2px 4px rgba(123, 164, 219, 0.1), inset -2px -2px 4px rgba(255, 255, 255, 0.6);}
.btn.btn_a i{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 12px; color: #448dda;}
.btn.btn_a.btn_left.disable, .btn.btn_a.btn_right.disable{ box-shadow: none;}
.btn.btn_a.btn_left.disable i, .btn.btn_a.btn_right.disable i{ color: #b9bbbe; pointer-events: none;}

/*pre,next btn design dark(어두운 화면일 때)*/
.btn.btn_a.dark { border: 2px solid #3a67db; box-shadow: 0 4px 10px -4px #000;}
.btn.btn_a.dark:active { color: #111;}
.btn.btn_a.dark i{color: #3a67db;}
.btn.btn_a.dark.btn_left.disable, .btn.btn_a.dark.btn_right.disable{ border: solid 2px rgba(255,255,255,.5); pointer-events: none;}
.btn.btn_a.dark.btn_left.disable i, .btn.btn_a.dark.btn_right.disable i{ color: rgba(255,255,255,.5); pointer-events: none;}


/*view more, go to shop btn design*/
.btn_b {font-weight: 700; text-transform: uppercase;}
.btn_b:hover {}
.btn_b:active {}
.btn_b i { transition: all 100ms linear;}
.btn_b:hover i,
.btn_b:active i {}

/*view more, go to shop btn design light(밝은 화면일 때)!*/
.btn_b.light { background: transparent; color: #1b365d; background: #eef2f6; box-shadow:  1px 1px 2px rgba(205, 217, 229, 1), -1px -1px 2px rgba(255, 255, 255, 1), 3px 3px 6px rgba(205, 217, 229, 1), -3px -3px 6px rgba(255, 255, 255, 1), inset -2px -2px 4px rgba(205, 217, 229, 0.15), inset 2px 2px 4px rgba(255, 255, 255, 0.25);  transition: all 100ms linear; font-weight: 700; text-transform: uppercase;}
.btn_b.light:active { box-shadow: -1px -1px 2px rgba(123, 164, 219, 0.3), 1px 1px 2px rgba(255, 255, 255, 0.6), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0), inset 2px 2px 4px rgba(123, 164, 219, 0.1), inset -2px -2px 4px rgba(255, 255, 255, 0.6);}
.btn_b.light i { transition: all 100ms linear;}
.btn_b.light:hover i,
.btn_b.light:active i {}

/*view more, go to shop btn design dark(어두운 화면일 때)!*/
.btn_b.dark { background: transparent; color: #fff; box-shadow: inset 0 0 0 2px #fff; font-weight: 700; text-transform: uppercase; transition: all 550ms ease-in-out;}
.btn_b.dark:hover { color: #050d46; box-shadow: inset 0 0 500px #fff;}
.btn_b.dark:active { box-shadow: inset 0 0 0 2px #1b365d; color: #fff;}
.btn_b.dark i { transition: all 100ms linear;}
.btn_b.dark:hover i {color: #050d46;}
.btn_b.dark:active i {color: #fff;}

